
<body>
  <header>
    <div id="nav"></div>
  </header>

  <main>
    
    <!-- Feature Cards -->
    <div id="news-view" class="view" style="display: block">
      <div class="view-header">Test Intel Reports</div>
      <section id="articles" class="card-grid"></section>
    </div>

    <!-- Star Map -->
    <div class="view" id="map-view" style="display: none;">
      <div class="view-header">Star Map</div>
      <section>
        <canvas id="star-map" width="650" height="487"></canvas>
      </section>
    </div>

  </main>

  <script type="module" src="./../src/index.js"></script>
  <script type="module" src="./../utils/router.js"></script>
</body>
</html>
